= render 'commons/header'
= render 'commons/nav_bar'
.profile
  .profile-card
    = render 'commons/profile_card'
    .profile-action-button
      =link_to 'プロフィールを編集', edit_profile_path
    .logout-btn
      = link_to 'ログアウト', destroy_user_session_path, data: {method: 'delete', confirm: '本当にログアウトしてもよろしいですか？'}
  -# ユーザーの記事
  = render 'commons/card'