= render 'commons/header'
= link_to articles_path, class: 'back-articles-icon' do
  %i.fas.fa-arrow-left.fa-2x
.article
  .article-user
    .article-user-img
      = image_tag 'top-page.jpg'
    .article-user-info
      %p= @article.author_name
      %p.article-user-info-created-at= @article.display_created_at
    - if @article.user == current_user
      .dropdown-btn
        %i.fas.fa-ellipsis-h.fa-2x
        .sub-menu
          %ul
            %li 編集
            %li 削除
  .article-title
    %h1= @article.title
  .article-images
    - if @article.images.attached?
      - @article.images.each do |image|
        = image_tag image
  .article-likes
    = image_tag 'like.png'
    .article-likes-count
      23
  .article-content
    %p= @article.content