= render 'commons/header'
.article#article-show{data: {article_id: @article.id}}
  .article-user
    .article-user-card
      .article-user-img
        - if @article.user&.profile&.image
          = image_tag @article.user.profile.image
        - else 
          = image_tag 'top-page.jpg'
      .article-user-info
        %p= @article.author_name
        %p.article-user-info-created-at= @article.display_created_at
    .article-user-dropdown
      - if @article.user == current_user
        .dropdown
          %i.fas.fa-ellipsis-h.fa-2x
          .dropdown-content.mini
            = link_to '編集', edit_article_path(@article)
            = link_to '削除', article_path(@article), data: { method: 'delete', confirm: '削除してもよろしいですか？'}
  .article-title
    %h1= @article.title
  .article-images
    - if @article.images.attached?
      - @article.images.each do |image|
        = image_tag image
  .article-likes
    = image_tag 'like.png'
    .article-likes-count
      23
  .article-content
    %p= @article.content

.comment
  .comment-header
    %h1 コメント一覧
  .comment-count
  .comment-form
    .comment-form-user
      .comment-form-user-image
        - if current_user&.profile&.image.attached?
          = image_tag current_user.profile.image
        - else 
          = image_tag 'top-page.jpg'
      .comment-form-user-textarea
        = text_area_tag :comment_content, '', class:'sm'
    .comment-form-btn
      = button_tag type: :submit do
        %i.far.fa-paper-plane.fa-2x
  .comments-container
-# JavaScriptの読み込み
= javascript_pack_tag 'article'