= render 'commons/header'
= render 'commons/nav_bar'
.profile{data: {account_id: @user.id} }
  .profile-card{data: {my_id: @current_user.id}}
    = render 'commons/profile_card'
.relationship
  .follow-btn.hidden
    %p Follow
  .unfollow-btn.hidden
    %p Unfollow
-# ユーザーの記事
= render 'commons/card'
= javascript_pack_tag 'account'