= render 'commons/header'
.profile{data: {account_id: @user.id} }
  .profile-card{data: {my_id: @current_user.id}}
    .profile-card-image
      - if @profile&.image&.attached?
        = image_tag @profile.image
      - else 
        = image_tag 'top-page.jpg'
    .profile-card-username
      %h1= @profile.user.username
    .profile-card-introduction
      - if @profile&.introduction&.present?
        %p= @profile.introduction
      - else 
        %p 
.relationship
  .follow-btn.hidden
    %p Follow
  .unfollow-btn.hidden
    %p Unfollow
-# ユーザーの記事
= render 'commons/card'
= javascript_pack_tag 'account'